body {
	font-family: Verdana, Tahoma, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

form {
	margin: 0;
	width: 500px;
	line-height: 20px;
	text-align: right;
}

input, textarea {
	font-family: Verdana, Tahoma, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	border: 1px solid #888;
}

label {
	display: block;
	text-align: left;
	width: 500px;
}

pre {
	font-family: Verdana, Tahoma, Geneva, Arial, Helvetica, sans-serif;
	border: 1px solid #ccc;
	overflow: auto;
}

a {
	color: #3783c8;
	background-color: inherit;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

