.areatext {
	COLOR: #333399;
	FONT-FAMILY: Verdana;
	FONT-SIZE: 11px;
	FONT-WEIGHT: normal;
	TEXT-DECORATION: none;
	background: #efefef
}

.areainput {
	COLOR: #000000;
	FONT-FAMILY: Verdana;
	FONT-SIZE: 11px;
	FONT-WEIGHT: normal;
	TEXT-DECORATION: none;
	background: #ffffff
}

.areahead {
	COLOR: #000000;
	FONT-FAMILY: Verdana;
	FONT-SIZE: 14px;
	FONT-WEIGHT: normal;
	TEXT-DECORATION: none;
	background: #b6b8c4 url(/images/headimage.jpg);
	height: 22px;
}

.input {
	COLOR: #000000;
	background-color: #e0e0e0;
	font-size: 9px;
	border: 1px solid #b6b8c4;
}

.body {
	background: #e4e8e9;
}

.copy {
	COLOR: #333399;
	FONT-FAMILY: Verdana;
	FONT-SIZE: 11px;
	FONT-WEIGHT: normal;
	TEXT-DECORATION: none;
}

.line1 {
	background-color: #dfdfdf;
}

.line2 {
	background: #e5e5e5;
}

.topMenu, .blockMenu {
	border: 1px solid #999999;
	background-color: #efefef;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000066;
	margin: 1px;
	padding: 0px;
}

.mainMenu {
	border: 1px solid cyan; /* #FF90FF; */
	background-color: #ffffff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
	margin: 1px;
	padding: 0px;
}

.listMenu {
	border: 0px;
	background-color: #ffffff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
	margin: 1px;
	padding: 0px;
}

/*
.listMenu TD {
    background-color: #F0F0F0;
}
*/

.mainTables {
	background-color: #ffffff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
	margin: 1px;
	padding: 0px;
}

.mainTables input {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

/*
===============================================================
Описание верхнего меню
===============================================================
<div id="topBar">
 <table><tr><td><div class="navigateIndex">..</div></td><td><div class="letterIndex">..</div></td></tr></table>
</div>
*/

#topBar {
	/*    border: 1px solid #999999; */
	background-color: #f5f5f5;
	font-style: normal;
	font-variant: normal;
	color: #000000;
	margin: 1px;
	padding: 2px;
	font: 8pt Tahoma;
	font-weight: bold;
	color: black;
	width: 99%;
	margin: 10px;
	margin-left: 0px;
	margin-right: 0px;
}

#topBar .letterIndex {
	text-align: right;
	margin-right: 5px;
}

#topBar .navigateIndex {
	text-align: left;
	margin-left: 5px;
}

/* ************************************* */
.left {
	text-align: left;
}

.right {
	text-align: right;
}

/*
#s_Z{
    background-color: black;
    color: white;
}
*/

#topBar .searchIndex input, #topBar .searchIndex select {
	border: 1px solid black;
	height: 18px;
	font: 8pt Tahoma;
}

.blockHeader, .mainHeader {
	Color: blue;
	border-bottom: 1px solid cyan; /* #FF90FF; */
	FONT-FAMILY: Verdana;
	FONT-SIZE: 14px;
	FONT-WEIGHT: normal;
	TEXT-DECORATION: none;
	background: #f0f0f0;
	height: 22px;
	text-transform: uppercase;
	font: 8pt Tahoma;
	font-weight: bold;
}

/*
===============================================================
Описание заголовка
===============================================================
<table id="topHeader">
<tr><td><div class="topBanner">..</div></td><td><div class="topAuth">..</div></td></tr>
</table>
*/

#topHeader {
	width: 99%;
	border: 1px solid #e0e0e0;
}

#topHeader .topInfoBar {
	padding: 8px;
	padding-right: 3px;
	margin: 0px;
	font: 8pt Tahoma;
	font-weight: bold;
	color: black;
	background: white;
	width: 300px;
	height: 38px;
	vertical-align: middle;
	border: 1px solid #c0c0c0;
	float: left;
}

#topHeader .topDomain {
	padding: 8px;
	padding-right: 3px;
	margin: 0px;
	font: 8pt Tahoma;
	font-weight: bold;
	color: black;
	background: white;
	width: 560px;
	height: 38px;
	vertical-align: middle;
	border: 1px solid #c0c0c0;
	float: right;
}

.topAuth input {
	border: 1px solid black;
	height: 18px;
	font: 8pt Tahoma;
}

/*
===============================================================
Описание бокового меню
===============================================================
<div id="sidebar">
 <div class="item">
  <h3>заголовок</h3>
  <div class="ii" либо class="imax">
   <p>блок ссылок/информации</p>
   <p>...</p>
  </div>
 </div>
</div>
*/

#sidebar {
	font-size: 11px;
	top: 5px;
	left: 5px;
	width: 190px;
}

#sidebar .item {
	font: 82% Tahoma, Arial, Helvetica;
	background: #ffffff;
	padding: 0px;
	margin-bottom: 16px;
}

#sidebar .item h3 {
	padding: 4px;
	padding-left: 10px;
	margin: 0px;
	background: #f0f0f0;
	border: 1px solid cyan; /* #FF90FF; */
	text-transform: uppercase;
	font: 8pt Tahoma;
	font-weight: bold;
	color: blue;
}

#sidebar .item .ii input {
	border: 1px solid black;
	height: 18px;
	font: 8pt Tahoma;
}

#sidebar .item .ii {
	padding: 6px;
	border: 1px solid cyan; /* #FF90FF; */
	border-top: none;
	font-size: 11px;
}

#sidebar .item .imax {
	padding: 6px;
	border: 1px solid cyan; /* #FF90FF; */
	border-top: none;
	font-size: 12px;
	font-weight: bold;
}

#sidebar .item .imax p {
	margin: 5px;
	margin-right: 0px;
	margin-left: 3px;
	margin-top: 8px;
	font-weight: bold;
}

/* Аналогично для правого меню */

#rightbar {
	vertical-align: top;
	font-size: 11px;
	top: 5px;
	left: 5px;
	width: 140px;
	font: 82% Tahoma, Arial, Helvetica;
	background: #ffffff;
	padding: 0px;
	margin-bottom: 16px;
}

#rightbar h3 {
	padding: 4px;
	padding-left: 10px;
	margin: 0px;
	background: #f0f0f0;
	text-transform: uppercase;
	font: 8pt Tahoma;
	font-weight: bold;
	border: 1px solid cyan; /* #FF90FF; */
	color: blue;
}

#rightbar .body {
	padding: 6px;
	border: 1px solid cyan; /* #FF90FF; */
	border-top: none;
	font-size: 11px;
	background: #ffffff;
}

#rightbar .body input {
	border: 1px solid black;
	height: 18px;
	font: 8pt Tahoma;
}

.ads {
	font-size: 9px;
	text-align: center;
}

#rightbar .adsbar {
	padding: 6px;
	border: 1px solid #ff99ff;
	border-top: none;
	font-size: 9px;
}

#rightbar .imax {
	padding: 6px;
	border: 1px solid #ff99ff;
	border-top: none;
	font-size: 12px;
	font-weight: bold;
}

#rightbar .ii p {
	margin: 2px;
	margin-right: 0px;
	margin-left: 3px;
	font-weight: bold;
}

#rightbar .hr {
	background: #dde2eb;
	margin: 3px 0 5px 0;
	min-height: 2px;
}

#rightbar .right {
	float: right;
}

#rightbar .left {
	float: left;
}

form {
	margin: 0;
	padding: 0;
}

p, h1, h2, h3, h4, h5, h6 {
	margin: .5em 0;
	padding: 0;
	text-align: left;
	font-weight: normal;
}

p {
	margin-bottom: 1em;
}

small {
	font-size: 8pt;
}

h1 {
	font-size: 160%;
}

h2 {
	font-size: 100%;
	margin: 0px;
	font-weight: bold;
}

h3, h4 {
	font-size: 100%;
	font-weight: bold;
}

/*
a { color: #5a6d4f; }
.content a:visited { color: #750082; }
a:hover { color: red; }
*/

a {
	color: #000066;
}

.content a:visited {
	color: #ffff00;
}

a:hover {
	color: red;
}

/* ***************************************************** */
/*     Списочные данные в центре основной странички      */
/* ***************************************************** */

#bodyTList {
	border-color: black;
}

#bodyTList .banner {
	color: white;
	background: url("/images/bullet_1.gif") no-repeat top left;
	height: 20px;
	width: 20px;
}

#bodyTList .item {
	font-size: 12px;
	color: blue;
	height: 20px;
	font-weight: bold;
}

#bodyTList .info {
	font-size: 10px;
	padding: 2px 0 0 5px;
	text-align: right;
	color: red;
}

#bodyTList .text {
	font-size: 12px;
	text-align: justify;
}

/* ******* Данные для align.ru ******* */
.name {
	font-size: 16px;
	font-weight: bold;
	font-family: Verdana, Tahoma, Arial;
	padding: 0px;
	margin: 0px;
	color: blue;
	border-bottom: 1px solid #d0c0a0;
}

.longname {
	padding: 0px;
	margin: 0px;
	font-size: 11px;
	font-family: Verdana, Tahoma, Arial;
	background: #e0e0e0;
}

.explain {
	font-size: 12px;
	font-family: Verdana, Tahoma, Arial;
}

.listhead {
	padding: 0px;
	margin: 0px;
	font-family: Tahoma, Arial;
}

.list {
	padding: 0px;
	margin: 0px;
	font-family: Tahoma, Arial;
}

.list li {
	margin: 1 0 0 25;
	padding: 0px;
}

.inactive {
	color: #e080b0;
}

.menuLink {
	width: 100%
}

#m_Main {
	background: #d0f0f0;
}

.menuLink a {
	width: 90%;
}

.menuLink a:hover {
	background: #f0f0f0;
}

#cite {
	border: 1px solid #999999;
	width: 200px;
	padding: 5px;
	font-size: 12px;
	text-align: left;
}

#counters {
	border: 1px solid #999999;
	width: 370px;
	padding: 5px;
	font-size: 12px;
}

#whois {
	border: 1px solid #999999;
	padding: 5px;
	font-size: 12px;
	text-align: left;
}

.whoislist {
	font-size: 10px;
	text-align: left;
}
