.rating { width: 85px; height: 16px; color: #666666; font-family: Tahoma, helvetica, sans-serif; font-size: 11px; }

.uRating { list-style: none; margin: 0; padding: 0;
 width: 85px; height: 16px; position: relative;
 background : url(/engine/plugins/rating/tpl/skins/ancient/rating.gif) top left repeat-x;
}

.uRating li { height: 16px; text-indent : -90000px; padding: 0; margin: 0; float: left; background : url(/engine/plugins/rating/tpl/skins/ancient/rating.gif) left bottom; }
.uRating li a { width: 17px; height: 16px; padding: 0; z-index: 17; display: block; text-decoration: none; text-indent: -9000px; position: absolute; }
.uRating li a:hover { background : url(/engine/plugins/rating/tpl/skins/ancient/rating.gif) left center; z-index : 2; left : 0; }

.uRating a.r1u		{ left  : 0;    }
.uRating a.r1u:hover	{ width : 17px; }
.uRating a.r2u		{ left  : 17px; }
.uRating a.r2u:hover	{ width : 34px; }
.uRating a.r3u		{ left  : 34px; }
.uRating a.r3u:hover 	{ width : 51px; }
.uRating a.r4u		{ left  : 51px; }
.uRating a.r4u:hover	{ width : 68px; }
.uRating a.r5u		{ left  : 68px; }
.uRating a.r5u:hover	{ width : 85px; }

.uRating li.r0{ width: 0px;  }
.uRating li.r1{ width: 17px; }
.uRating li.r2{ width: 33px; }
.uRating li.r3{ width: 50px; }
.uRating li.r4{ width: 68px; }
.uRating li.r5{ width: 85px; }
