#ttr table {
	width: 100%;
	border-top: 1px solid #e5eff8;
	border-right: 1px solid #e5eff8;
	margin: 1em auto;
	border-collapse: collapse;
}

#ttr caption {
	color: #9ba9b4;
	font-size: .94em;
	letter-spacing: .1em;
	margin: 1em 0 0 0;
	padding: 0;
	caption-side: top;
	text-align: center;
}

#ttr tr.odd td {
	background: #f7fbff
}

#ttr tr.odd .jewel .column1 {
	background: #f4f9fe;
}

#ttr .column1 {
	background: #f9fcfe;
}

#ttr td {
	color: #678197;
	border-bottom: 1px solid #e5eff8;
	border-left: 1px solid #e5eff8;
	padding: .3em 1em;
	text-align: center;
}

#ttr th {
	font-weight: normal;
	color: #678197;
	text-align: left;
	border-bottom: 1px solid #e5eff8;
	border-left: 1px solid #e5eff8;
	padding: .3em 1em;
}

#ttr thead th {
	background: #f4f9fe;
	text-align: center;
	font: bold 1.2em/2em "Century Gothic", "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #66a3d3
}

#ttr tfoot th {
	text-align: center;
	background: #f4f9fe;
}

#ttr tfoot th strong {
	font: bold 1.2em "Century Gothic", "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin: .5em .5em .5em 0;
	color: #66a3d3;
}

#ttr tfoot th em {
	color: #f03b58;
	font-weight: bold;
	font-size: 1.1em;
	font-style: normal;
}